<%- include('partials/header') -%>

<link href="css/index.css" rel="stylesheet">

<body class="d-flex h-100 text-center text-bg-dark">
    <div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="">
            <img class="" src="imgs/logo/svg/White_nobackground.svg" alt="" style="height: 50px;" width="auto">
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">About</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
                <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
            </nav>
        </div>

   <h1>Manage your projects and fix your bugs</h1>
        <br>
        <p class="lead">Focus is an online bug tracker and issue tracking software that helps you to track and fix bugs quickly.</p>

        <div class="bg-container-dark">
            <div class="row justify-content-around mt-5">
                <a href="/login" id="login" class="col-2 btn btn-outline-light"> Login</a>
                <a href="/signup" id="signup" class="col-2 btn btn-outline-light"> Signup</a>
            </div>
        </div>
   </nav>
</body>

<%- include('partials/footer') -%>