<%- include('partials/header') -%>

  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>

    <main class="form-signin w-75 m-auto">
      <div class="container-md-8">
      <form action="/login" method="POST">
        <img class="mb-4" src="/imgs/logo/svg/Black_nobackground.svg" alt="" width="92" height="67">
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>

        <div class="form-floating">
          <input type="email" class="form-control form-control-sm" id="floatingInput">
          <label for="floatingInput">Email address</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="password" class="form-control form-control-sm" id="floatingPassword">
          <label for="floatingPassword">Password</label>
        </div>
        <br>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

      <button class="w-100 btn btn-md btn-primary" type="submit">Sign in</button>
      </form>

      </div>
    </section>
    </div>
</main>

<%- include('partials/footer') -%>
